@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand: #2A7DB8;
  --color-brand-dark: #1F5B8F;
  --color-brand-light: #3BB3E4;

  --color-purple: #7B2CBF;
  --color-purple-dark: #5A189A;

  --color-accent: #FF2BD6;

  --color-background: #F2F2F2;
  --color-text: #6B6B6B;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-neris), sans-serif;
}

